/Aboutme/nbproject/private/
/Hello World/nbproject/private/
/Aboutme/build/
/Person/nbproject/private/
/Person/build/
/Mathoperation/nbproject/private/
/Mathoperation/build/
/Boolean/nbproject/private/
/Boolean/build/
/Userdata/nbproject/private/
/Userdata/build/
/Conditional/nbproject/private/
/Conditional/build/
/Repeater/nbproject/private/
/Repeater/build/
/Double/nbproject/private/
/Double/build/
/Highorlow/nbproject/private/
/Highorlow/build/
/Functions/nbproject/private/
/Functions/build/
/Arrayfun/nbproject/private/
/Arrayfun/build/
/Arrayfun/dist/
/Forloopsfun/nbproject/private/
/Forloopsfun/build/
/Car/nbproject/private/
/CarTest/nbproject/private/
/Car/dist/
/Car/build/